@import url("global.css");
/* figcaption */
figure {
	margin: 50px 2%;
}

figcaption {
	text-align: center;
}
figure img {
	height: auto;
	width: 250px;
	border-radius: 20px;
}

/* text content */
section {
	display: flex; 
}